*{
	margin: 0;
	padding: 0;
}


/*==========WIDTH-320PX=========================*/

@media screen and (min-width:240px) {

.header{
	width: 100%;
	height: 516px;
	background: url(../img/header.jpg) no-repeat 50% 0;
	overflow: hidden;
}

.header__wrapper{
	width: 320px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.logo{
	margin-top: 50px;
}

.menu{
	width: 246px;
	margin: 22px auto 0;
	border: 1px solid #051116;
	background: rgba(54, 41, 62, 0.8);
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	visibility: hidden;
	position: relative;
	z-index: 1;
}


.menu__item{
	height: 40px;
	list-style: none;
	border-top: 1px solid #523f5a;
	border-bottom: 1px solid #35273d;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.menu__item_last{
	border-bottom: none;
}

.menu__item:hover{
	background: #35273d;
}

.menu__item:hover .menu__link{
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.menu__link{
	display: block;
	height: 37px;
	color: #fff;
	font-size: 24px;
	line-height: 42px;
	font-family: 'LeagueGothic Regular', 'Myriad Pro', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

.menu__link:hover{
	border-bottom: 2px solid #edbfff;
}

.menu__link_visible{
	visibility: visible;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.menu:hover {
	visibility: visible;
}

.menu__link_active{
	border-bottom: 2px solid #edbfff;
}

.slider{
	width: 320px;
	position: absolute;
	top: 302px;
	left: -4px;
}

.slider__block{
	width: 246px;
	font-family: 'LeagueGothic Regular', 'Myriad Pro', sans-serif;
	font-size: 36px;
	line-height: 24px;
	color: #FFF;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding-left: 68px;
	text-align: left;
}

.slider__block:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: -107px;
    left: 277px;
	background: url(../img/iphone480.png);
	display: none;
}

.slider__title{
	font-size: 18px;
	color: #EDBFFF;
	margin-top: 7px;
}

.slider__text{
	display: none;
}

.slider__buttons{
	width: 80px;
	margin: 75px 0 0 129px;
	overflow: hidden;
}

.slider__buttons-btn{
	list-style: none;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	background: #676470;
	margin-left: 5px;
	float: left;
	cursor: pointer;
}

.slider__buttons-btn:first-child{
	margin-left: 0;
}

.slider__buttons-link{
	display: block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	background: #FFF;
	margin: 3px auto 0;
	display: none;
}

.slider__buttons-link_active{
	display: block;
}

}


/*======END====WIDTH-320PX=========================*/



/*==========WIDTH-480PX=========================*/

@media screen and (min-width:480px) {

.header{
	height: 548px;
}

.header__wrapper{
	width: 100%;
	overflow: visible;
}

.logo{
    margin: 50px 0 0 18px;
}

.menu{
    margin: 22px auto;
}

.slider{
    width: 100%;
    height: 245px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 203px;
    left: 0;
}

.slider__block{
    width: 460px;
    margin: 98px auto;
    font-family: 'LeagueGothic Regular', 'Myriad Pro', sans-serif;
    font-size: 36px;
    line-height: 24px;
    color: #FFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-left: 40px;
    text-align: left;
    position: relative;
}

.slider__block:after{
	content: "";
	display: block;
	width: 192px;
	height: 304px;
	position: absolute;
	top: -107px;
    left: 257px;
	background: url(../img/iphone480.png);
}

.slider__text{
	display: none;
}

.slider__nav{
    width: 330px;
    margin: 115px auto;
}

.slider__buttons{
    width: 100px;
    overflow: hidden;
	margin: 75px 0 0 137px;
}

.slider__buttons-btn{
    margin-left: 6px;
}

}


/*======END====WIDTH-480PX=========================*/


/*==========WIDTH-768PX=========================*/


@media screen and (min-width:768px){
	
.header{
	height: 796px;
}

.logo{
    margin-right: 576px;
}

.menu{
	width: 768px;
	visibility: visible;
	border: none;
	margin: 21px 0px 0 -6px;
}

.menu__item{
	float: left;
	border: none;
}

.menu__item:hover{
	background: none;
}

.manu__link{
	padding: 0 25px;
}

.manu__link_visible {
    text-shadow: none;
}

.menu__item_active{
	display: block;
	width: 47px;
}

.slider{
	height: 400px;
	top: 242px;
}

.slider__block{
	width: 305px;
	margin: 109px 0 0 3px;
	font-size: 47px;
}

.slider__block:after{
	width: 274px;
	height: 434px;
	left: 443px;
    top: -132px;
	background: url(../img/iphone768.png);
}

.slider__text{
    display: block;
    height: 107px;
    overflow: hidden;
    margin-top: 3px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    text-transform: none;
    line-height: 24px;
    color: #FFF;
}

.slider__text:first-line{
	line-height: 36px;
}

.slider__nav{
    margin: 149px 0 0 54%;
}

.slider__info{
	width: 768px;
    margin: 0 auto;
}

.slider__title{
    font-size: 24px;
    margin-top: 21px;
}

.slider__buttons{
    width: 113px;
}

.slider__buttons-btn{
	background: rgba(0, 0, 0, 0.5);
}




}

/*======END====WIDTH-768PX=========================*/



/*==========WIDTH-960PX=========================*/

@media screen and (min-width:960px){
	
.header {
    height: 846px;
}

.header__wrapper{
    height: 125px;
	text-align: left;
}

.logo{
	display: block;
	margin: -14px 0 0 128px;
	float: left;
}

.menu{
    display: block;
    overflow: hidden;
    width: 660px;
    margin: 65px 0 0 300px;
    background: none;
}

.menu__link {
    padding: 0;
}

.menu__link_last {
    padding: 0;
}

.menu__item {
    margin: 0 26px;
}

.menu__item_last{
	margin-right: 0;
}

.slider {
    top: 213px;
}

.slider__info {
    width: 960px;
    margin: 0 auto;
}

.slider__block{
    width: 500px;
    padding: 0;
    margin: 96px 0 0 0;
}

.slider__blockname{
	font-family: 'LeagueGothic Regular', 'Myriad Pro', sans-serif;
    font-size: 58px;
    line-height: 24px;
}

.slider__title{
    font-size: 32px;
    margin-top: 19px;
}

.slider__text:first-line{
	line-height: 30px;
}

.slider__text{
	height: 160px;
	font-size: 1.11rem;
	line-height: 24px;
}

.slider__block:after {
    left: 614px;
    top: -114px;
    background: url(../img/iphone.png);
}

.slider__buttons{
    margin: 165px 0 0 202px;
}


}
/*======END====WIDTH-960PX=========================*/